// clear fix
/* old mixin
@mixin cf() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}*/

@mixin cf-single() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin cf() {
  &:before,
  &:after {
    @extend %clearFixPseudoElementos;
  }
  &:after {
    @extend %clearBoth;
  }
  & {
    @extend %zoom;
  }
}

// vertical align
@mixin vtal() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// ajuste de cores para atributo placeholder
@mixin placeholder($color, $opacity) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

// prefix
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// ## Example
// @include prefixer(ï¿½border-radiusï¿½, $value);
//
//## Transition
//
@mixin transition($value) {
  -webkit-transition: #{$value};
  transition: #{$value};
}

//
//## Transform
//
@mixin transition($value) {
  -webkit-transform: #{$value};
  transform: #{$value};
}

//
// ## Border Radius
//
@mixin border-radius($radius) {
  -webkit-border-radius: #{$radius};
  -moz-border-radius: #{$radius};
  border-radius: #{$radius};
}

//
// ## Animation
//
@mixin animation($value) {
  -webkit-animation: #{$value};
  animation: #{$value};
}

// /*  Keyframes
// ========================================================================== */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// ## Tipografia
$montserrat-weight: 400;
@mixin font-montserrat($args: $montserrat-weight) {
  @if ($args==$montserrat-weight) {
    font-family: "Montserrat", sans-serif;
    font-weight: $args;
  } @else {
    font-family: "Montserrat", sans-serif;
    font-weight: $args;
  }
}

@mixin font-montserrat-f($args: $montserrat-weight) {
  @if ($args==$montserrat-weight) {
    font-family: "Montserrat", sans-serif !important;
    font-weight: $args;
  } @else {
    font-family: "Montserrat", sans-serif !important;
    font-weight: $args;
  }
}
$roboto-weight: 400;
@mixin font-roboto($args: $roboto-weight) {
  @if ($args==$roboto-weight) {
    font-family: "Roboto", sans-serif;
    font-weight: $args;
  } @else {
    font-family: "Roboto", sans-serif;
    font-weight: $args;
  }
}

@mixin font-roboto-f($args: $roboto-weight) {
  @if ($args==$roboto-weight) {
    font-family: "Roboto", sans-serif !important;
    font-weight: $args;
  } @else {
    font-family: "Roboto", sans-serif !important;
    font-weight: $args;
  }
}

@mixin font-entypo() {
  font-family: "EntypoRegular";
  font-style: normal;
  font-weight: normal;
}

//Media Queries
$breakpoints_jornal: (
  "dw": $desktop-wide,
  "dn": $desktop-normal,
  "tw": $tablet-wide,
  "tn": $tablet-normal,
  "sw": $smartphone-wide,
  "sn": $smartphone-normal
);
@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints_jornal, $width) {
    $width: map_get($breakpoints_jornal, $width); //@if $type == max {
    //    $width: $width - 1px;
    //}
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $width) {
      @content;
    }
  }
}

@mixin mqrange($breakpointsMin, $breakpointsMax) {
  @if map_has_key($breakpoints_jornal, $breakpointsMin) {
    $breakpointsMin: map_get($breakpoints_jornal, $breakpointsMin);
    $breakpointsMax: map_get($breakpoints_jornal, $breakpointsMax);
    @media only screen and (min-width: $breakpointsMin) and (max-width: $breakpointsMax) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $breakpointsMin) and (max-width: $breakpointsMax) {
      @content;
    }
  }
}

/*@mixin mqrange($breakpointsMin, $breakpointsMax) {
    $breakpointsMin: map_get($breakpoints_jornal, $breakpointsMin);
    $breakpointsMax: map_get($breakpoints_jornal, $breakpointsMax);
    @media only screen and (min-width: $breakpointsMin) and (max-width: $breakpointsMax) {
        @content;
    }
}*/

/*
    Extends
*/

%displayInline {
  display: inline;
}

%displayNone {
  display: none;
}

%clearFixPseudoElementos {
  content: " ";
  display: table;
}

%clearBoth {
  clear: both;
}

%zoom {
  *zoom: 1;
}

%cleanUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

%cleanUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

%container {
  position: relative;
  float: left;
  width: 100%;
  @include cf();
}
