header.header-main {
  box-shadow: inset -1px 6px 0 -3px #ea4139, 0 1px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 0 !important;
}

.region-header {
  nav {
    &.navigation {
      a {
        font-size: 15px;
        color: #333;
        @include font-roboto(500);
        border-radius: 3px;
        overflow: hidden;
        background-color: transparent !important;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          top: 15px;
          left: 50%;
          margin-left: -2.5px;
          background-color: #ea4139;
          border-radius: 50%;
          transition: all 0.5s ease-in-out 0s, color 0.2s ease-in-out 0s;
          z-index: -1;
          opacity: 0;
        }
        &:hover {
          &:before {
            opacity: 1;
            transform: scale(50);
          }
        }
      }
    }
  }
}

.navbar-toggle {
  background-color: #ea4139;
  outline: 0;
  z-index: 10;
}

.navbar-collapse {
  @include mqrange(0, 768px) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100% !important;
    max-height: 0;
    background-color: rgba(#000, 0.9);
    // transition: all .3s linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    &.collapse {
      display: flex !important;
    }
    &.in {
      opacity: 1;
      max-height: 9999px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-nav {
      margin: 0;
      padding: 0 30%;
      background-color: #fff;
      border-radius: 5px;
      z-index: -2;
      li {
        margin: 15px 0;
        a {
          text-align: center;
        }
      }
    }
  }
}
