.noticias-form-container {
  .form-type-vertical-tabs {
    display: none;
  }
  .field--type-string,
  .field--type-string-long,
  .field--type-image,
  .field--type-datetime,
  .field--type-text-with-summary,
  .field--type-entity-reference {
    background-color: #fff;
    border: solid 1px #eee;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    label,
    .label {
      margin: 0;
      padding: 0 5px 15px;
      font-weight: 600;
      color: #666;
    }
  }
}
